/*  your css code here. If applicable */
#mainContainer{

	border:3px solid black;
	border-radius: 8px;
	align-items:center;
	
}
h1{
	text-align:center;
	font-size:20px;
}
h2{
	text-align:center;
	font-size:15px;
}
.code-container{
	/* align-items:center;*/
	display: flex;
	justify-content:center;
	/* background-color: yellow; */
	margin-top:40px;
	margin-bottom:40px;
}
.code{
	width : 80px;
	height : 120px;
	font-size : 80px;
	text-align : center;
	margin-right:10px;
	padding-left:15px;
}
#lastbox{
	display:flex;
	justify-content:center;
	margin:20px
}
#warn{
	background-color:lightgrey;
	width:340px;
	height:60px;
	border-radius:5px;
	align-items:center;
}
p{
	text-align:center;
	font-size:12px;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	
}